.custom-product-page-details {

}

.custom-item-title-block {

}

.custom-item-title-title-block {

   background-color: pink;

}

.custom-item-title-price-block {

   width: fit-content;
   border: thin solid pink;

}

.custom-item-data-field {

   border: thin solid pink;
   display: flex;
   justify-content: space-between;

}

.custom-included-options-list {

}

.custom-included-options-list-item {

}

.custom-product-reservation-button {

}

.custom-product-contact-block {

}

.custom-call-request-button {

}

.custom-whatsapp-button {

}

.status-badge {

}

.state-badge {

}