/* Place any CSS overrides in this file. */

.custom-product-page-details {

}

.custom-item-data-block {
   display: grid;
   align-content: space-evenly;
   gap: 3%;
   margin-top: 3%;


.grid-view-item {
   display: flex;
   gap: 2%;
}

.custom-item-title-block {
  
   display: flex;
   gap: 5%;
}

.custom-item-title-title-block {
   padding: 5%;
   flex-grow: 1;
   background-color: pink;

}

.custom-item-title-price-block {
   padding: 5%;
   flex-grow: 1;
   width: fit-content;
   border: thin solid pink;

}

.custom-item-data-field {

   border: thin solid pink;
   display: flex;
   justify-content: space-between;
   padding: 3%;

}