/* Place any CSS overrides in this file. */

.custom-product-page-details {
   
   display: grid;
   width: 100%;
   gap: 3cqw;
   margin-top: 0%;
   container-type: inline-size;
   align-items: center;
   font-size: 5cqi; 

}

.custom-item-data-block {

   display: grid;
   width: 100%;
   gap: 3cqw;
   margin-top: 3%;
   container-type: inline-size;
   align-items: center;
   font-size: 5cqi;
   border: thick solid darkgrey;

}

.grid-view-item {

   container-type: inline-size;
   position: relative;

}

.custom-item-title-block {
  
   display: flex;
   gap: 3%;
   width: 100%;
   
}

.custom-item-title-title-block {

   display: flex;
   font-size: 7cqi;
   font-family: var(--header-font-stack);
   padding: 3%;
   flex-grow: 1.5;
   background-color: #fac5d7;
   color: black;
   height: 4cap;
   align-items: center;

}

.custom-item-title-title-block a {
 
   color: black;

}

.custom-item-title-price-block {

   display: flex;
   font-size: 6cqi;
   font-weight: bold;
   flex-grow: 1;
   width: fit-content;
   border: thin solid #fac5d7;
   align-items: center;
   justify-content: center;

}

.custom-item-data-field {

   border: 0.5px solid #fac5d7;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 2%;
   font-size: 4cqi;
   height: 4cap;
   align-items: center;

}

.custom-view-options-wrapper {

   display: flex; 
   width: 50%;
   background-color: #fac5d7;
   border-radius: 15px;
   height: 4cap;
   color: black;
   font-size: 5cqi;
   margin: 0 auto;
   align-items: center;
   justify-content: center;

}

.custom-view-options-wrapper a {

   color: black;

}

.grid-view-item-image {
  
   position: relative;
   width: 100%;
   display: block;

}

.responsive-image-wrapper {
   
   display: grid;
   place-items: center;
   position: relative;
   outline: 5px solid blue;
   outline-offset: -15px; 
   z-index: 0;

}

.responsive-image-wrapper img {

    outline: 1px solid #fac5d7;
    outline-offset: -6px; 
    

}

.custom-inner-box {

}


.custom-status-badge {

    display: flex;
    position: absolute;
    top: 8%;
    right: 8%;   
    width: 35%;
    height: 4cap;
    border-radius: 15px;
    background-color: #fac5d7;
    font-size: 4cqw;
    z-index: 1;
    align-items: center;
    justify-content: center;

}

.custom-included-options-list {

   display: flex;
   width: 100cqw;
   container-type: inline-size;

}

.custom-included-options-list-item {

   display: flex;
   container-type: inline-size;
   border: thin solid black;
   width: 25%;
   height: 25cqw;
   flex-direction: column;
   align-items: center;
   font-size: 3cqw;

}

.custom-included-options-list-item svg {
   
   background-color: pink;
   aspect-ratio : 1 / 1;
   width: 40cqw;
   

}

.custom-included-options-list-item p {
   font-size: 3cqw;
}

.custom-product-reservation-button button {
   
   background-color: deeppink !important;
   width: 35%;
   height: 4cap;

}

.custom-product-contact-block {

   display: flex;
   gap: 3%;

}

.custom-call-request-button button {

  display: inline-block;
  height: 4cap;
  padding: 4%;

}

.custom-whatsapp-button button {

  display: inline-block;
  height: 4cap;
  padding: 4%;
}

