/* Place any CSS overrides in this file. */

.custom-product-page-details {

}

.custom-item-data-block {

   display: grid;
   
   gap: 3%;
   margin-top: 3%;
   container-type: inline-size;
   align-items: center;
   font-size: 5cqi;

}

.grid-view-item {

   container-type: inline-size;

}

.custom-item-title-block {
  
   display: flex;
   gap: 3%;
  
   
}

.custom-item-title-title-block {

   display: flex;
   font-size: 8cqi;
   font-family: var(--header-font-stack);
   padding: 3%;
   flex-grow: 1.5;
   background-color: #fac5d7;
   color: black;
   height: 3cap;
   align-items: center;

}

.custom-item-title-title-block a {
 
   color: black;

}

.custom-item-title-price-block {

   display: flex;
   font-size: 6cqi;
   font-weight: bold;
   flex-grow: 1;
   width: fit-content;
   border: thin solid #fac5d7;
   align-items: center;
   justify-content: center;

}

.custom-item-data-field {

   border: 0.5px solid #fac5d7;
   display: flex;
   justify-content: space-between;
   padding: 2%;
   font-size: 4cqi;
   height: 3.5cap;
   align-items: center;

}

.custom-view-options-wrapper {

   display: flex; 
   width: 50%;
   background-color: #fac5d7;
   border-radius: 15px;
   height: 3cap;
   color: black;
   font-size: 5cqi;
   margin: 0 auto;
   align-items: center;
   justify-content: center;

}

.custom-view-options-wrapper a {

   color: black;

}

.grid-view-item-image {

}

.responsive-image-wrapper {
   
   display: grid;
   place-items: center;
   position: relative;
   outline: 5px solid blue;
   outline-offset: -15px; 
   z-index: 1000;
   box-shadow: inset 0 0 0 10px #333; 

}
.responsive-image-wrapper img,
.custom-inner-box {

    outline: 1px solid #fac5d7;
    outline-offset: -6px; 

}